@use '../variables' as *;
@use "../mixins" as *;

.intro {
  overflow: hidden;
  position: relative;
  z-index: 1;
  background: $primaryClr1;
  color: $white;

  padding-left: rem(95);
  border-radius: rem(15);

  display: grid;
  grid-template-columns: rem(540) 1fr;
  gap: rem(96);
  height: rem(640);
  @include tablet {
    padding: rem(60) rem(60) 0;

    justify-items: center;
    grid-template-columns: 1fr;
    gap: rem(69);

    height: rem(843);
  }

  @include phone {
    padding: rem(80) rem(24) 0;
    margin: 0 rem(-24) rem(120);
  }

  &::before {
    pointer-events: none;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    width: rem(640);
    height: rem(640);

    background: url("/images/intro-bg.svg") no-repeat center/cover;

    @include tablet {
      top: rem(130);
      right: rem(-130);
    }

  }

  &__section {
    padding-top: rem(145);

    display: flex;
    flex-direction: column;
    gap: rem(40);

    @include tablet {
      text-align: center;
      align-items: center;
      padding-top: 0;

      gap: rem(20);
    }
  }

  &__title {
    @include h1;

    @include tablet {
      max-width: rem(570);
    }
  }

  &__body {
    @include body;
    color: $white;

    @include tablet {
      max-width: rem(445);
    }
  }

  &__link {
    @include btn1;
    max-width: rem(152);
  }

  &:hover {
    .intro__img-wrapper {
      margin-bottom: rem(23);

      &::before{
        width: 110%;
        left: -5%;

        filter: brightness(0.6) blur(70px);
      }
    }
  }

  &__img {
    position: relative;

    width: 100%;
    height: 100%;

    &-wrapper {
      @include transition;
      position: relative;
      margin-bottom: rem(-72);
      width: rem(279);
      height: rem(573);

      align-self: flex-end;

      @include tablet {
        margin-bottom: 0;
      }

      &::before {
        @include transition;

        content: '';
        position: absolute;
        left: -1%;
        top: -5%;

        width: 102%;
        height: 100%;

        background: $primaryClr1;

        filter: brightness(0.4) blur(50px);
      }
    }
  }
}