$primaryClr1: #e7816b;
$primaryClr2: #1d1c1e;
$primaryClr3: #ffffff;

$secondaryClr1: #ffad9b;
$secondaryClr2: #333136;
$secondaryClr3: #f1f3f5;

$white: #ffffff;

$btn1-bg: #5964e0;
$btn2-bg: #c9c9c9;
$fontClr: $secondaryClr2;

$pc: 1200;
$tablet: 767;
$phone: 480;
