@use "variables" as *;
@use "style";
@use "mixins";

@use "header";
@use "footer";


@font-face {
  font-family: "Jost";
  font-weight: 400;
  src: url("/fonts/Jost-Regular.woff2"), url("/fonts/Jost-Regular.woff");
}
@font-face {
  font-family: "Jost";
  font-weight: 500;
  src: url("/fonts/Jost-Medium.woff2"), url("/fonts/Jost-Medium.woff");
}
