@use '../../styles/variables' as *;
@use "../../styles/mixins" as *;

.category-title {
  position: relative;
  z-index: 1;
  background: $primaryClr1;
  padding: rem(64) rem(190);

  text-align: center;
  display: grid;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: rem(24);

  border-radius: rem(15);

  grid-template-columns: rem(400);


  color: $white;

  @include phone {
    margin-left: rem(-24);
    margin-right: rem(-24);
    border-radius: rem(0);

    padding: rem(105) rem(24);
  }

  &__background img{
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    @include phone {
      left: unset;
      right: 0;
      width: rem(292);
      height: rem(292);
    }
  }

  &__title {
    @include h1;
  }
  &__description {
    @include body;
    color: $white;
  }
}